<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">
  <!-- Page Heading Start -->
  <div class="col-12 col-lg-auto mb-20">
    <div class="page-heading">
      <h3 class="title">مطالب <span>/ درج مطلب جدید</span></h3>
    </div>
  </div>
  <!-- Page Heading End -->
  <!-- Page Button Group End -->
</div>
<!-- Page Headings End -->

<div class="row mbn-30">
  <!-- Revenue Statistics Chart Start -->
  <div class="col-md-12 mb-30">
    <div class="box">
      <div class="box-head">
        <div class="row">
          <h4 class="title">اطلاعات مطلب</h4>
        </div>
      </div>
      <div class="box-body">
        <!-- errors -->
        {{#if hasError}}
          {{#each errors}}
            <div class="alert alert-danger mb-10" role="alert">
              <i class="zmdi zmdi-info"></i>
              <strong>هشدار! {{this}}</strong>
              <button class="close" data-dismiss="alert"><i class="zmdi zmdi-close"></i></button>
            </div>
          {{/each}}
        {{/if}}
        <form action="/admin/posts/store" method="POST">
          <div class="row mbn-20">
            <div class="col-12 mb-20">
              <input type="text" id="formLayoutUsername" name="postTitle" class="form-control"
                placeholder="عنوان مطلب" />
            </div>
            <div class="col-12 mb-15">
              <select class="form-control" name="author">
                <option>انتخاب نویسنده</option>
                {{#each users}}
                <option value="{{this.id}}">{{this.full_name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-12 mb-20">
              <input type="slug" id="formLayoutslug" name="postSlug" class="form-control" placeholder="نامک مطلب" />
            </div>

            <div class="col-12 mb-20">
              <textarea id="formLayoutMessage" name="postContent" class="form-control"
                placeholder="محتوای مطلب"></textarea>
            </div>
            <div class="col-12 mb-20">
              <h6 class="mb-15">تصویر</h6>
              <input class="dropify" name="postFile" type="file">
            </div>
            <div class="col-12 mb-20">
              <h6 class="mb-15">وضعیت مطلب</h6>
              <div class="form-group">
                <label class="inline"><input name="postStatus" value="0" type="radio" />پیش نویس</label>
                <label class="inline"><input name="postStatus" value="1" type="radio" />در حال بازبینی</label>
                <label class="inline"><input name="postStatus" value="2" type="radio" />منتشرشده</label>
              </div>
            </div>

            <div class="col-12 mb-20">
              <input type="submit" value="ذخیره سازی" class="button button-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Revenue Statistics Chart End -->
</div>